*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial;
}

header{
    background-color: red;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    
}

.logo{
    cursor: pointer;
}

ul{
    list-style: none;
    display: flex;
    gap: 60px;
}a{
    display: flex;
   text-decoration: none;
   color: black;
   gap: 8px;
}

.icons{
    display: flex;
   
}